<?xml version="1.0"?>
<config>
    <modules>
        <InternetCode_FeedTest>
            <version>0.1.0</version>
        </InternetCode_FeedTest>
    </modules>
    <global>
        <models>
            <ic_feed_test>
                <class>InternetCode_FeedTest_Model</class>
            </ic_feed_test>
        </models>
        <helpers>
            <ic_feed_test>
                <class>InternetCode_FeedTest_Helper</class>
            </ic_feed_test>
        </helpers>
        <events>
            <omfeed_insert_headers_test_feed>
                <observers>
                    <ic_feed_test>
                        <type>model</type>
                        <class>ic_feed_test/generate</class>
                        <method>insertHeaders</method>
                    </ic_feed_test>
                </observers>
            </omfeed_insert_headers_test_feed>
            <omfeed_insert_footer_test_feed>
                <observers>
                    <ic_feed_test>
                        <type>model</type>
                        <class>ic_feed_test/generate</class>
                        <method>insertFooter</method>
                    </ic_feed_test>
                </observers>
            </omfeed_insert_footer_test_feed>
        </events>
    </global>
</config>
